body{
  padding: 0;
  margin: 0;
}
#popLeo img{
  cursor: pointer;
}
#popContent img{
  width: 600px;
}
#popContent{
  clear: both;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.80);
  z-index: 999999999999;
  margin-top: 0;
  top: 0;
  padding-top: 10%;
  display: none;
}
.btn-popClose{
  color: #fff;
  max-width: 600px;
  cursor: pointer;
  margin: 0 auto;
  text-align: right;
  color: #f7f7f7;
  font-size: 18px;
}
